.userInfoCard {
    width: 600;
    height: 800;

    .avatar {
        width: 100px;
        height: 100px;
        object-fit: contain;
        overflow: hidden;
    }

    .ant-card-head-title {
        font-size: 20px;
    }

    .ant-card-meta-avatar {
        position: relative;
        width: 100px;
        height: 100px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .ant-card-meta-avatar img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }

    .userInfoRow {
        display: flex;
        margin-bottom: 8px;
    }

    .label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
        font-size: 16px;
    }

    .content {
        flex: 1;
        text-align: left;
        font-size: 16px;
    }

    .default-info {
        flex: 1;
        text-align: left;
        font-size: 12px;
        color: #adabab;
        margin-top: 5px;
    }

    .editButton {
        top: 10px;
        left: 8%;
        bottom: 0px;
        margin: 10px;
    }
}